.bkg {
    width:100%;
    height:100vh;
}
.cardsBox{
    height:100%;
    justify-content:center;
    align-items:center;
    background: linear-gradient(to bottom, rgba(183,189,184,1) 0%, rgba(105,112,106,1) 100%);
    display:grid;
    grid-gap:10px;
    grid-template-columns:repeat(4,100px);
    grid-template-rows:1fr 2fr 50px 3fr;
}

    .cardsBox .select {
        grid-column: 1 / 3;
        align-self:center;
        justify-content:center;
    }
    
    .cardsBox .results {
        font-size:15px;
        font-family: sans-serif;
        padding:10px;
        color:white;
        background:gray;
        box-shadow: 3px 3px 3px #666;
        text-shadow: 1px 1px 1px #666;
        grid-column: 3 / 5;
        align-self:center;
        border:1px solid black;
        border-radius: 10px;
        box-shadow: 5px 5px 5px #555;
    }
    
    .cardsBox .btnStart {
        height: 40px;
        font-size:20px;
        font-weight: bold;
        background:lightgreen;
        box-shadow: 3px 3px 3px #666;
        grid-column: 1 / 3;
        align-self:center;
    }
    
    .cardsBox .btnEnd {
        height: 40px;
        font-size:20px;
        font-weight: bold;
        background:yellow;
        box-shadow: 3px 3px 3px #666;
        grid-column: 1 / 3;
        align-self:center;
    }

.btnEval {
    background-color: lightgray;
    box-shadow: 3px 3px 3px #666;
    border: 2px solid black;
    height: 30px;
    border-radius: 5px;
    font-size:20px;
    font-weight: bold;
}

.card {
    padding:10px;
    display: grid;
    height: 100px;
    width:80px;
    /*justify-content:center;
    align-items:center;*/
    border-radius: 10px;
    grid-gap:0px;
    grid-template-columns:repeat(3,1fr);
    grid-template-rows:repeat(3,1fr);
    background-color: white;
    box-shadow: 5px 5px 5px #555;
}

.card > div >img {
    /*background:lightblue;*/
    height:30px;
    width:30px;
    margin-left: -2px;
}

.triangle{
}

.circle{
}

.cross{
}

.star{
}